body,td,th {
	font-family: Arial, Helvetica, sans-serif;
	color: #333333;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	background: url(../images/bg.gif);
}

li {
	padding: 0px 0px 0px 0px;
	margin: 0px 10px 10px 0px;
	text-align:left;
}

.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2B1005;
	line-height: 17px;
	font-weight: lighter;
}

.xmenu0, .xmenu0:active,.xmenu0:link, .xmenu0:visited {
	text-align:center;
	font-size:15px;
	font-weight:bolder;

	color:#250A00;
	text-decoration:none;
	display:block;
	width:100px;
	float:left;
	line-height:20px;
	padding-left: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #c6d5d8;
	border-bottom-color: #c6d5d8;
}

.xmenu0:hover {
	text-align:center;
	font-size: 15px;
	color:#333333;
	text-decoration:none;
	display:block;
	width:100px;
	float:left;
	line-height:20px;
	padding-left: 0px;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #3C1E06;
	border-bottom-color: #3C1E06;
	background-color: #FFFFFF;
}

.xmenu1, .xmenu1:active,.xmenu1:link, .xmenu1:visited {
	text-align:left;
	font-size:13px;
	font-weight:bolder;
	color:#250A00;
	text-decoration:none;
	display:block;
	width:150px;
	float:left;
	line-height:20px;
	padding-left: 15px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #c6d5d8;
	border-bottom-color: #c6d5d8;
}

.xmenu1:hover {
	text-align:left;
	font-size: 13px;
	color:#333333;
	text-decoration:none;
	display:block;
	width:150px;
	float:left;
	line-height:22px;
	padding-left: 15px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #3C1E06;
	border-bottom-color: #3C1E06;
	background-color: #FFFFFF;
}

.xmenu2, .xmenu2:active,.xmenu2:link, .xmenu2:visited {
	text-align:left;
	font-size:11px;
	font-weight:300;
	color:#250A00;
	text-decoration:none;
	display:block;
	width:150px;
	float:left;
	line-height:20px;
	padding-left: 15px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #c6d5d8;
	border-bottom-color: #c6d5d8;
}

.xmenu2:hover {
	text-align:left;
	font-size: 11px;
	color:#333333;
	text-decoration:none;
	display:block;
	width:150px;
	float:left;
	line-height:22px;
	padding-left: 15px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #3C1E06;
	border-bottom-color: #3C1E06;
	background-color: #FFFFFF;
}

.footnote {
	font-size: 12px;
	font-style:italic;
	background:#D9EBFF;	
	
}

.title {
	text-align:left;
	font-size: 18px;
	color: #1E0B03;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 25px;
}

	